<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.melody.mapper.AdminMapper">

    <!--    批量插入多条数据-->
    <insert id="addTeacher">
        INSERT INTO teacher (username, password, iconUrl, createTime, updateTime, updateUser, createUser)
        VALUES
        <foreach collection="teacherList" item="teacher" separator=",">
            (#{teacher.username}, #{teacher.password}, #{teacher.iconUrl}, #{teacher.createTime}, #{teacher.updateTime}, #{teacher.updateUser}, #{teacher.createUser})
        </foreach>
    </insert>
</mapper>