<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.melody.mapper.MusicClassMapper">
    <select id="queryStudentByName" resultType="com.melody.vo.StudentQueryVO">
        select s.id id,s.name name,s.iconUrl iconUrl from student s join
        (select * from student_class where classId = #{classId}) as c on s.id = c.studentId
               where s.name like concat('%',#{name},'%')

    </select>

    <select id="queryByClassIdList" parameterType="long" resultType="com.melody.entity.MusicClass">
        SELECT * FROM music_class
        WHERE id IN
        <foreach collection="classIdList" item="classId" open="(" separator="," close=")">
            #{classId}
        </foreach>
    </select>

    <update id="update" parameterType="com.melody.entity.MusicClass">
        UPDATE music_class
        <set>
<!--            <if test="instrument != null"> instrument = #{instrument},</if>-->
            <if test="className != null"> className = #{className},</if>
            <if test="classSize != null"> classSize = #{classSize},</if>
            <if test="teacherId != null"> teacherId = #{teacherId},</if>
            <if test="classCode != null"> classCode = #{classCode},</if>
            <if test="iconUrl != null"> iconUrl = #{iconUrl},</if>
            <if test="updateTime != null"> updateTime = #{updateTime},</if>
<!--            <if test="updateUser != null"> updateUser = #{updateUser},</if>-->
        </set>
        WHERE id = #{id}
    </update>

</mapper>