<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.melody.mapper.OrderMapper">
    <!--主键回显-->
    <insert id="submitOrder" parameterType="com.melody.entity.Orders">
        INSERT INTO orders (orderNumber, goodsName, status, studentId, orderTime, payMethod, payStatus, amount, phone, username)
        VALUES (#{orderNumber},#{goodsName},#{status},#{studentId},#{orderTime},#{payMethod},#{payStatus},#{amount},#{phone},#{username})
    </insert>
    <!--根据订单号进行订单状态修改-->
    <update id="update" parameterType="com.melody.entity.Orders">
        update orders
        <set>
            <if test="status != null"> status = #{status},</if>
            <if test="checkoutTime != null"> checkoutTime = #{checkoutTime},</if>
            <if test="payStatus != null"> payStatus = #{payStatus},</if>
        </set>
        where orderNumber = #{orderNumber}
    </update>
</mapper>